body {
  margin: 0;
}

#overlay {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}

.percent {
  color: white;
  font-size: 2rem;
  transition: 1s all ease;
}

#start-btn {
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  display: none;
  opacity: 0;
  transition: 1s all ease;
  cursor: pointer;
}

.slide-up {
  transform: translateY(-100vh);
}

.transparent {
  opacity: 0;
}

#start-btn.appear {
  opacity: 1;
}

.hide {
  display: none;
}

#start-btn.show {
  display: block;
}
